@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-image: url(image/patt.png);
}



*{
    box-sizing: border-box;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.row::after, .menu::after, .lower-menu::after, .form-search-header::after, .form-search-header input::after {
    content: "";
    display: block;
    clear: both;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.col-1{
    width: 8.33333%;
}
.col-2{
    width: 16.66667%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33333%;
}
.col-5{
    width: 41.66666%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33333%;
}
.col-8{
    width: 66.66667%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33333%;
}
.col-11{
    width: 91.66666%;
}
.col-12{
    width: 100%;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.header{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo{
    margin-top: 7px;
}
.menu li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
    position: relative;
}
.menu li:last-child{
    border-right: 1px solid #2c71b8;
}    
.menu>li> a{
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
}
.menu a:hover{
    background-color: #2c71b8;
    color: white; 
}
.li:hover >a{
    background-color: #2c71b8;
    color: #fff;
}
.icon{
    width: 15px;
    height: 15px;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 15px;
}
.lower-menu{
    width: 286px;
    display: none;
    position: absolute;
    left: -1px;
    background-color: #2c71b8;
}
.menu>li:hover .lower-menu{
    display: block;
}
.lower-menu li{
    width: 286px;
    height: 40px;
    background-color: #2c71b8;
    border: none;
}
.lower-menu a{
    height: 40px;
    display: block;
    font-size: 21px;
    text-decoration: none;
    color: #fff;
    line-height: 40px;
    padding-left: 21px;
}
.lower-menu a:hover{
    background-color: #fff;
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
}

.form-search-header{
    border: 1px solid #2c71b8;
    height: 40px;
    float: left;
    padding: 4px;
    margin-top: 5px;
}
.form-search-header input{
    background-color: transparent;
    border: none;
    width: 160px;
    height: 30px;
    padding-left: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    color: #2c71b8;
    vertical-align: middle;
    float: left;
}
.form-search-header input:focus{
    outline: none;
}
.form-search-header button{
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
    border: none;
    display: block;
    position: absolute;
    margin-left: 130px;
    cursor: pointer;
}
::-webkit-input-placeholder{
    color: #2c71b8;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 21px;
} 

.cart-header{
    width: 40px;
    height: 40px;
    background-color: #fff;
    position: relative;
    float: left;
    cursor: pointer;
    margin-top: 5px;
}
.cart-header img{
    position: relative;
    top: 10px;
    left: 10px;
}
.product-count{
    width: 20px;
    height: 20px;
    background-color: #2c71b8;
    border-radius: 50%;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    color: #fff;
}





.col-12 a{
    color: #fff;
    text-decoration: none;
}
.col-8{
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin-top: 32px;
}

.all-menu-sort{
    width: 270px;
    margin-top: 35px;
}
.menu-sort>li>a {
    width: 270px;
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 21px;
    background-color: #2c71b8;
    border: #fff 1px solid;
    padding: 5px 5px;
    
}
.menu-sort>li>a:hover{
    background-color: #fff;
    color: #2c71b8;
    
    
}
.submenu-sort>li>a{
    width: 270px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 21px;
    background-color: #2c71b8;
    border: #fff 1px solid;
    padding: 5px 5px;
    display: none;
}
.submenu-sort>li>a:hover{
    background-color: #fff;
    color: #2c71b8;
    display: block;
   
}
.all-menu-sort:hover .submenu-sort>li>a{
    display: block;
   
} 

.col-4{
    background-color: #2c71b8;
    opacity: 0.80;
    
}
.product-image{
    background-color: #fff;
    opacity: 0.75;
    width: 270px;
    height: 180px;
    margin-top: 55px;
    position: relative;
}
.product-image img{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.zoom button{
    width: 28px;
    height: 28px;
    border: #2c71b8 1px solid;
    background-image: url(image/icon-border\ \(8\).png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;
}
.like button{
    width: 28px;
    height: 28px;
    border: #2c71b8 1px solid;
    background-image: url(image/icon-like\ \(5\).png);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    cursor: pointer;
    top: 45px;
    right: 10px;
    
}
.zoom button:hover{
    background-image: url(image/icon-border-honor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2c71b8;
}
.like button:hover{
    background-image: url(image/icon-like-honor.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #2c71b8;
}


.product-title{
    font-size: 48px;
    font-weight: bold;
    margin-top: 10px;
    color: #fff;
    
}
.product-description{
    font-size: 21px;
    color: #fff;
    margin-top: 20px;
   
}
.product-features span{
    font-size: 21px;
    font-weight: bold;
    color: #fff;
}
.product-features{
    font-size: 21px;
    color: #fff;
    margin-top: 10px;
}
.product-price{
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
    text-align: center;
}
.product-price span{
    font-size: 21px;
    font-weight: bold;
    position: absolute;
}
.button-details{
    width: 210px;
    height: 50px;
    border: 1px solid #fff;
    font-size: 21px;
    font-weight: bold;
    background-color: #2c71b8;
    opacity: 0.75;
    color: #fff;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
}
.button-cart{
    width: 210px;
    height: 50px;
    border: none;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    background-color: #568dc6;
    opacity: 0.75;
    display: block;
    margin-top: 15px;
    cursor: pointer;
    margin-left: 30px;
    background-image: url(image/buy-wight.png);
    background-position: right 0.5em bottom 16px;
    background-repeat: no-repeat;
}


.row label::after{
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: #fff 1px solid;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 28px;
}
input[type="checkbox"]:checked + label::after{
    background-color: #fff;
}
input[type="checkbox"] {
    display: none;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    margin-top: 30px;
    margin-left: 28px;
    margin-bottom: 25px;
}
.label{
    color: #fff;
    font-size: 21px;
    margin-left: 28px;
}
/* #Laptop, #tablet, #black, #red, #green, #blue, #orange, #one-gb, #two-gb, #four-gb, #six-gb, #eight-gb{
    margin-top: 22px;
    margin-left: 28px;
} */
.row p{
    color: #fff;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;
}
.button-filter{
    width: 210px;
    height: 50px;
    border: 1px solid #fff;
    font-size: 21px;
    font-weight: bold;
    background-color: #2c71b8;
    opacity: 0.75;
    color: #fff;
    margin-top: 30px;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
    line-height: 2.5em;
    margin-bottom: 28px;
}    
main .col-3{
    background-color: #568dc6;
    opacity: 0.75;
}